* {
    margin: 0;
}

.grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;
    grid-template-rows: 10vh 45vh 1fr 15vh;
    grid-template-areas: 
    "nav nav nav"
    "featured featured featured"
    ". shows ."
    "footer footer footer";
}

.area-border {
    border: 2px solid black;
}

.nav {
    grid-area: nav;
    display: flex;

    background-color: black;
}

.griot {
    font-size: larger;
    display: flex;
    width: 30vw;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    height: 100%;
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav-links a {
    font-size: x-small;
}

.nav-links > a:hover {
    text-decoration: underline;
}


.featured {
    grid-area: featured;
    background-color: black;
    background-image: url("../images/featured.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    display: flex;
}

.show-cards {
    grid-area: shows;
}

#date {
    margin-top: 40px;
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(179, 179, 179);
    padding: .25em 2em; 
}

.show {
    display: flex;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid rgb(179, 179, 179);
}

.showimagecontainer {
    width: 25%;
    height: auto;
    
}

.showimage {
    max-width: 100%;
    height: auto;
}



.showinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 30px;
    width: 50%;
}

.showbutton{
    display: flex;
    width: 25%;
   
    align-items: center;
    justify-content: right;
}

button {
    color: white;
    background-color: rgb(247, 176, 21);
    border: 1px solid gray;
    padding: 1em;
}

.footer {
    grid-area: footer;
}