* {
    margin: 0;
}

.grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;
    grid-template-rows: 10vh 40vh 1fr 15vh;
    grid-template-areas: 
    "nav nav nav"
    "featured featured featured"
    ". shows ."
    "footer footer footer";
}

.area-border {
    border: 2px solid black;
}

.nav {
    grid-area: nav;
    background-color: black;
    position: sticky;
    top: 0;
    color: antiquewhite;
}

.nav-links {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links > a {
    color: white;
    text-decoration: none;
}

.nav-links > a:hover {
    text-decoration: underline;
}


.featured {
    grid-area: featured;
    background-color: black;
    background-image: url("../images/featured.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    display: flex;
}

.show-cards {
    grid-area: shows;
}

.footer {
    grid-area: footer;
}